#navbar_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    box-shadow: 1px 1px 1px grey;
    /* background-color: rgba(255, 255, 0, 0.415); */
}

/* Navbar Left */
.navbar_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.navbar_logo{
    margin:auto 8px;
    font-weight: 550;
}
#logo{
    width: 35px;
    height:35px;
}
/* Navbar Center */
.navbar_links_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
}
.navbar_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:1.5rem;
}

.navbar_list{
    list-style-type: none;
}
.navbar_list>a{
    text-decoration: none;
    color: black;
}
.navbar_list>a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(112, 11, 11, 0.863);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
}


/* Navbar Right */
.navbar_login_btn{
    padding:5px 20px;
    border-radius: 50px;
    background-color: inherit;
    color:rgba(21, 19, 19, 0.727);
    border-color:rgba(0, 0, 0, 0.727);
}
.navbar_login_btn:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
#cartIcon{
    width:20px;
    height:20px;
    position:relative;
    top:5px;
    left:25px

}
.cart_items_count{
    display:flex;
    align-items: center;
    justify-content: center;
    width:12px;
    height:12px;
    background-color: red;
    color:white;
    border-radius: 10px;
    margin-top: -29px;
    margin-left: 113px;
    font-size: 0.6rem;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
}

