.product{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:10px;
    cursor: pointer;

}
.old_price{
    text-decoration: line-through;
    color: rgb(85, 77, 77);
    font-weight: none;
    
}
.new_price{
    font-weight: 700;
}